<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <script src="/x.js" defer></script>
    <title>
       mix html
    </title>
</head>
<body class="w-full h-screen bg-slate-200">
    
    % include("_nav.html")

    <div id="index" class="xpage w-full h-full grid grid-cols-2"
    data-xId = "index"
    data-xOnUrl = "/"
    data-xTitle = "mix html"
    data-xHide = ".xpage"
    data-xShow = "#index"
    >

        <div class="">
            <div class="flex flex-col gap-4 p-4">

                % for item in items:
                    % include("_item.html")
                % end

            </div>
        </div>
        <!-- end colum left -->

        <div id="more_info" class="h-full bg-slate-100">
            <main class=""
            data-xClass="item"
            data-xTitle = "mixHtml"
            data-xOnUrl = "/"
            data-xHide = "[data-xClass='item']"
            data-xShow = "[data-xId = '/item_0']"
            data-xId = "/item_0"    
            >
                <h1 class="pt-2 text-center text-2xl font-bold">
                    Best HTML Invention
                </h1>
            </main> 
        </div>
        <!-- end column right -->

    </div>



    <script>
        const xId = '{{id}}'
    </script>

</body>
</html>